<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Article</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <h1><a href="/"></a>INSERT TITLE</h1>
    <h2>Title of Article goes here!</h2>

        <h3>author</h3>

        <img src="http://placehold.it/550x400" alt="">

    <script src="/javascripts/app.js"></script>
  </body>
</html>
