<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Article</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <h1><a href="/"></a>INSERT TITLE</h1>
    <h2>Insert sub-title here</h2>
    <div class="">
      <form class="" action="/:selected_article" method="post">

      </form>
    </div>
    <div class="">
      <div class="">
        <h3>article_title</h3>
        <h5>author</h5>
        <img src="http://placehold.it/250x150" alt="">

      </div>

    </div>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
